@import url(https://fonts.googleapis.com/css?family=Philosopher:regular,italic,700,700italic);

* {
  margin: 0;
  padding: 0;
  margin-block: 0;
  margin-inline: 0;
  box-sizing: border-box;
}

:root {
  --philosopher: 'Philosopher', sans-serif;
}

:root {
  --accent-gradient: rgb(0, 131, 121),
    rgb(30, 78, 78);
  --bg-linear-gradient: linear-gradient(179.08deg,
      rgb(0, 131, 121) 10.265%,
      rgb(154, 242, 236) 130.731%);

  --error: #e84f6d;
  --h1: #252c32;
  --white: #fff;

  --text: #252c32;
  --bg: #eaeff5;

  --accent: #0b534e;
}

a {
  text-decoration: none;
}

figure {
  display: flex;
}

ul {
  list-style-type: none;
}

button {
  background: transparent;
  cursor: pointer;
  border: 0;
  outline: 0;
}

label {
  border: 0;
  outline: 0;
  background: transparent;
}

input:not([type="button"]),
textarea,
select {
  outline: 0;
  border: 0;
  background: transparent;
}

svg {
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
}

body {
  color: rgb(var(--text));
  background-color: rgb(var(--ui-bg));
  font-family: var(--philosopher);
  height: 100dvh;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(var(--text));
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px transparent;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1508px;

  &.nopadding {
    padding: 0;
  }

  @media (max-width: 1400px) {
    max-width: 1330px;
  }

  @media (max-width: 1350px) {
    max-width: 1300px;
  }
}

.main-page_bg {
  background-image: url("/images/mani-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inlineFlexCenter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
