@import url(https://fonts.googleapis.com/css?family=Philosopher:regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import './reset.css';
@import './variables.css';


body {
  color: var(--text);
  background-color: var(--bg);
  font-family: var(--philosopher);

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}



.container {
  width: 100%;
  margin: 0 auto;
  max-width: var(--container-max-width);
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;

  &.child {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.inlineFlexCenter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.main {
  --main-padding-top: 100px;
  --main-padding-right: 0;
  --main-padding-bottom: 70px;
  --main-padding-left: 0;

  padding: var(--main-padding-top) var(--main-padding-right) var(--main-padding-bottom) var(--main-padding-left);
}

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.back_section {
  --back-section-padding: 70px 0 28px 0;

  padding: var(--back-section-padding);
}



@media (max-width: 1450px) {
  :root {
    --container-max-width: 1330px;
  }
}

@media (max-width: 1350px) {
  :root {
    --container-max-width: 1240px;
  }
}

@media (max-width: 1280px) {
  :root {
    --container-max-width: 90%;
  }

  .back_section {
    --back-section-padding: 55px 0 28px 0;
  }
}

@media (max-width: 1240px) {
  .main {
    --main-padding-top: 80px;
    --main-padding-bottom: 60px;
  }
}

@media (max-width: 1024px) {
  :root {
    --container-max-width: 95%;
  }

  .main {
    --main-padding-top: 70px;
    --main-padding-bottom: 50px;
  }
}

@media (max-width: 800px) {
  .back_section {
    --back-section-padding: 28px 0 28px 0;
  }
}

@media (max-width: 768px) {
  .main {
    --main-padding-top: 60px;
    --main-padding-bottom: 40px;
  }
}

@media (max-width: 480px) {
  .main {
    --main-padding-top: 50px;
    --main-padding-bottom: 30px;
  }
}

@media (max-width: 440px) {
  :root {
    --container-max-width: 97%;
  }
}

@media (max-width: 400px) {
  .main {
    --main-padding-top: 40px;
    --main-padding-bottom: 25px;
  }
}
