:root {
	--philosopher: "Philosopher", sans-serif;
	--inter: "Inter", sans-serif;

	--primary-gradient: var(--tertiary), var(--primary);
	--bg-linear-gradient: linear-gradient(179.08deg, var(--tertiary) 10.265%, var(--primary) 130.731%);

	--error: #e84f6d;
	--h1: #252c32;
	--white: #fff;
	--text: #252c32;
	--bg: #eaeff5;

	--primary: rgba(11, 81, 77, var(--bg-opacity, 1));
	--tertiary: rgba(0, 131, 121, var(--bg-opacity, 1));
	--secondary: rgba(255, 149, 0, var(--bg-opacity, 1));

	--container-max-width: 1408px;
}
