.articles_list {
<<<<<<< HEAD
  gap: 21px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
=======
	gap: 21px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
>>>>>>> c24b04ba3e37f9367ec04a0b518cfee8729300b2
}
