.title {
	--title-display: flex;
	--title-align-items: center;
	--title-width: max-content;
	--title-margin: 0 auto;
	--title-font-size: 48px;
	--title-line-height: 1;
	--img-width: max-content;

	display: var(--title-display);
	align-items: var(--title-align-items);
	width: var(--title-width);
	margin: var(--title-margin);

	&.t-col {
		flex-direction: column;
	}

	img {
		width: var(--img-width);
	}

	h1 {
		color: var(--h1);
		font-size: var(--title-font-size);
		line-height: var(--title-line-height);
	}
}

@media (max-width: 1240px) {
	.title {
		--title-font-size: 42px;
	}
}

@media (max-width: 1024px) {
	.title {
		--title-font-size: 36px;
	}
}

@media (max-width: 768px) {
	.title {
		--title-font-size: 30px;
		--title-line-height: 1.1;
	}
}

@media (max-width: 480px) {
	.title {
		--title-font-size: 24px;
	}
}

@media (max-width: 400px) {
	.title {
		--title-font-size: 20px;
	}
}
