.module_list {
	margin-top: 41px;

	display: flex;
	flex-direction: column;
	gap: 12px;
}

@media (max-width: 1300px) {
	.module_list {
		margin-top: 30px;
		gap: 10px;
	}
}

@media (max-width: 768px) {
	.module_list {
		margin-top: 20px;
	}
}

@media (max-width: 480px) {
	.module_list {
		margin-top: 15px;
	}
}
