.hero {
	--linear-gradient: linear-gradient(
		74.85deg,
		rgba(24, 14, 1, 0.8) 24.616%,
		rgba(26, 13, 3, 0.64) 54.002%,
		rgba(27, 19, 12, 0.45) 60.587%,
		rgba(27, 19, 13, 0.24) 84.521%,
		rgba(48, 32, 20, 0.08) 111.625%
	);
	height: 86vh;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-position: 85%;

	&::before {
		content: '';
		background: var(--linear-gradient);
		position: absolute;
		width: 1284px;
		height: 86vh;
		z-index: 10;
	}

	.container {
		position: relative;
		z-index: 20;
		padding-bottom: 135px;
		display: flex;
		align-items: flex-end;
		height: 100%;
		@media (max-width: 780px) {
			padding-bottom: 45px;
		}

		@media (max-width: 500px) {
			padding-bottom: 35px;
		}

		@media (max-width: 400px) {
			padding-bottom: 15px;
		}
		* {
			color: var(--white);
			text-align: left;
		}

		h3,
		h2 {
			font-family: var(--second-family);
		}

		p {
			font-family: var(--font5);
		}

		.content {
			width: max-content;
			@media (max-width: 540px) {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				.about_ustaz {
					align-items: center;
				}
			}
			.title {
				font-size: clamp(1.25rem, 0.911rem + 1.69vw, 2.5rem);
				font-weight: 700;
			}

			.about_ustaz {
				display: flex;
				flex-direction: column;

				.name {
					font-size: clamp(1.5rem, 0.483rem + 5.08vw, 5.25rem);
					font-weight: 700;
					margin: 25px 0;
					@media (max-width: 560px) {
						margin: 10px 0;
					}
				}

				.description {
					display: flex;
					align-items: center;

					hr {
						width: 4px;
						margin-right: 8px;
						background: var(--bg-linear-gradient);
						height: 100%;
					}

					p {
						max-width: clamp(18.75rem, 9.581rem + 45.85vw, 52.563rem);
						font-size: clamp(0.875rem, 0.706rem + 0.85vw, 1.5rem);
						font-weight: 500;
						line-height: 29px;
						@media (max-width: 600px) {
							line-height: 24px;
						}
					}
				}
			}

			.actions {
				display: flex;
				align-items: center;
				gap: clamp(1.5rem, 0.415rem + 5.42vw, 5.5rem);
				margin-top: 40px;
				@media (max-width: 600px) {
					margin-top: 30px;
				}
				@media (max-width: 430px) {
					margin-top: 20px;
				}
				@media (max-width: 360px) {
					margin-top: 15px;
				}
			}
		}
	}
}
