.hero {
  --linear-gradient: linear-gradient(
    74.85deg,
    rgba(24, 14, 1, 0.8) 24.616%,
    rgba(26, 13, 3, 0.64) 54.002%,
    rgba(27, 19, 12, 0.45) 60.587%,
    rgba(27, 19, 13, 0.24) 84.521%,
    rgba(48, 32, 20, 0.08) 111.625%
  );
  height: 86dvh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: 85%;

  &::before {
    content: "";
    background: var(--linear-gradient);
    position: absolute;
    width: 1284px;
    height: 86dvh;
    z-index: 10;
  }

  .container {
    position: relative;
    z-index: 20;
    padding-top: 135px;

    * {
      color: var(--white);
      text-align: left;
    }

    h3,
    h2 {
      font-family: var(--second-family);
    }

    p {
      font-family: var(--font5);
    }

    .content {
      width: max-content;

      .title {
        font-size: clamp(1.25rem, 0.911rem + 1.69vw, 2.5rem);
        font-weight: 700;
        line-height: 59px;
      }

      .about_ustaz {
        display: flex;
        flex-direction: column;

        .name {
          font-size: clamp(1.5rem, 0.483rem + 5.08vw, 5.25rem);
          font-weight: 700;
          line-height: clamp(4.5rem, 3.314rem + 5.93vw, 8.875rem);
        }

        .description {
          display: flex;
          align-items: center;

          hr {
            width: 4px;
            height: clamp(3.375rem, 2.867rem + 2.54vw, 5.25rem);
            margin-right: 8px;
            background: var(--bg-linear-gradient);
          }

          p {
            max-width: clamp(18.75rem, 9.581rem + 45.85vw, 52.563rem);
            font-size: clamp(0.875rem, 0.706rem + 0.85vw, 1.5rem);
            font-weight: 500;
            line-height: 29px;
            @media (max-width: 800) {
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
          }
        }
      }

      .actions {
        display: flex;
        align-items: center;
        gap: clamp(1.5rem, 0.415rem + 5.42vw, 5.5rem);
        margin-top: 40px;
        button {
          padding: clamp(0.438rem, 0.404rem + 0.17vw, 0.563rem)
            clamp(1.5rem, 0.89rem + 3.05vw, 3.75rem);
          font-size: clamp(1rem, 0.932rem + 0.34vw, 1.25rem);
        }
        @media (max-width: 380px) {
          flex-direction: column;
          button {
            padding-inline: 60px;
          }
        }
      }
    }
  }
}
