.container {
	margin: 0 20px;
	padding: 20px;
	border-radius: 12px;
	background: #f9f9f9;
	height: max-content;
}

.title {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 10px;
}

.subtitle {
	color: #666;
	font-size: 16px;
	margin-bottom: 20px;
}

.profileCard {
	border-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 500px;
}
