.title {
  margin: 0;
  padding-top: 53px;
  h1 {
    font-size: 36px;
  }
}

.article_head {
  margin: 33px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.card_article {
  max-width: 621px;
  [class*="card_content"] {
    [class*="description"] {
      font-size: 20px !important;
    }
    [class*="title"] {
      font-weight: bold;
      font-size: 28px !important;
    }
  }
  figure img {
    max-height: 480px;
    min-height: 480px;
    object-fit: cover;
    border-radius: 10px;
  }
}

.articlesList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card_articleList {
  gap: 20px;
  width: 1029px;
  figure img {
    max-height: max-content;
  }
}

.articles {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  [class*="card_content"] {
    padding-top: 5px;
    max-width: 60%;
    [class*="description"],
    [class*="title"] {
      font-size: 20px !important;
    }
    [class*="title"] {
      font-weight: bold;
    }
  }
}

.popularArticle {
  margin-top: 34px;
  display: flex;
  align-items: center;
  gap: 42px;
}
