.lessons {
	.lesson {
		padding: 12px 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: var(--text);

		@media (max-width: 1980px) {
			padding: 10px 18px;
		}

		.row1 {
			display: flex;
			align-items: center;
			gap: 6px;
		}

		&.active .row {
			color: #1D2026;
			fill: #1D2026;
			stroke: #1D2026;
		}

		&:not(.active) .row {
			color: #A1A5B3;
			fill: #A1A5B3;
			stroke: #A1A5B3;
		}

		.row {
			display: flex;
			align-items: center;
			gap: 12px;

			@media (max-width: 1280px) {
				gap: 6px;

				span {
					font-size: 15px;
				}

				svg {
					width: 14px;
				}
			}

			svg {
				fill: inherit;
				stroke: inherit;
			}


			button {
				font-size: 14px;
				font-weight: 500;
				line-height: 22px;
				letter-spacing: -1%;
			}
		}

		.title {
			font-size: 16px;
			font-weight: 500;
			line-height: 22px;
			letter-spacing: -1%;

			@media (max-width: 1280px) {
				font-size: 15px;
			}
		}

		&.active {
			background: linear-gradient(#00837915 0%, #1E4E4E15 100%) !important;

			.unchecked {
				border: none;
			}
		}

		.checked,
		.unchecked {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			padding: 11px;

			@media (max-width:1280px) {
				padding: 8px;
			}

			&.unchecked {
				background: white;
				border: 1px solid #CED1D9;

				svg {
					position: absolute;
					color: #564FFD;
					width: 12px;
					height: 12px;
					margin-left: 1px;
				}
			}

			&.checked {
				background: linear-gradient(var(--tertiary) 0%,
						var(--primary) 100%);

				svg {
					position: absolute;
					color: white;
					width: 20px;
					height: 20px;
				}
			}
		}

		&.active {
			background: linear-gradient(#00837905 0%, #1E4E4E05 100%);
		}
	}
}
