.lessons {
	.lesson {
		padding: 12px 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: var(--text);

		.row1 {
			display: flex;
			align-items: center;
			gap: 6px;
		}

		&.active .row {
			color: #1D2026;
			fill: #1D2026;
			stroke: #1D2026;
		}

		&:not(.active) .row {
			color: #A1A5B3;
			fill: #A1A5B3;
			stroke: #A1A5B3;
		}

		.row {
			display: flex;
			align-items: center;
			gap: 6px;


			svg {
				fill: inherit;
				stroke: inherit;
			}

			button:nth-child(2) {
				font-size: 14px;
				font-weight: 500;
				line-height: 22px;
				letter-spacing: -1%;
			}
		}

		.row {
			display: flex;
			align-items: center;
			gap: 12px;
		}

		.title {
			font-size: 16px;
			font-weight: 500;
			line-height: 22px;
			letter-spacing: -1%;
		}

		&.active {
			background: linear-gradient(#00837915 0%, #1E4E4E15 100%) !important;

			.unchecked {
				border: none;
			}
		}

		.checked,
		.unchecked {
			width: 18px;
			height: 18px;
			display: flex;
			align-items: center;
			justify-content: center;

			&.unchecked {
				background: white;
				border: 1px solid #CED1D9;

				svg {
					color: #564FFD;
					width: 12px;
					height: 12px;
					margin-left: 1px;
				}
			}

			&.checked {
				background: linear-gradient(var(--tertiary) 0%,
						var(--primary) 100%);

				svg {
					color: white;
					width: 24px;
					height: 24px;
				}
			}
		}

		&.active {
			background: linear-gradient(#00837905 0%, #1E4E4E05 100%);
		}
	}
}
