@property --bg-opacity {
	syntax: '<number>';
	inherits: false;
	initial-value: 1;
}

.content {
	display: flex;
	gap: 16px;
	margin-bottom: 36px;
	width: 100%;


	.right {
		border-radius: 12px;
		border: 1px solid #00000010;
		height: 100%;
		min-width: 489px;
		max-width: 489px;
		max-height: 724px;
		background: linear-gradient(#00837910 0%, #1E4E4E10 100%);
		overflow-y: scroll;

		&::-webkit-scrollbar {
			width: 0;
		}

		.ml {
			padding: 23px;
			padding-top: 0;

			.accordion {
				[class*='accordion-content'] {
					padding: 0;
				}
			}

		}

		.progress {
			position: sticky;
			top: 0;
			margin-bottom: 24px;
			backdrop-filter: blur(10px);
			padding: 23px;
			padding-bottom: 0;

			div {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 2px;

				span {
					font-size: 16px;
					line-height: 24px;
					font-weight: 500;

					&:first-child {
						font-size: 24px;
						font-weight: bold;
						line-height: 32px;
						letter-spacing: -1%;
					}
				}
			}

			.progress_line {
				position: absolute;
				bottom: 0;
				left: 0;
				height: 3px;
				background: var(--secondary);
				border-radius: 100px;
				transition: all 0.25s;
			}

			.line {
				width: 100%;
				height: 3px;
				background: #EBEDF0;
				border-radius: 100px;
			}
		}
	}
}
