.playerCtn {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	* {
		user-select: none;
	}
}

.end {
	display: flex;
	align-items: center;
	gap: 6px;
}

.infosCtn {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	font-size: 14px;
	margin-left: 4px;

	span {
		margin: 0 4px;
	}
}

.install {
	border-radius: 28px;
	display: flex;
	align-items: center;
	gap: 6px;
}

.icon {
	padding: 2px;
}

.progressBar {
	width: 100%;
	height: 4px;
	background: #00000020;
	border-radius: 3px;
	cursor: pointer;
	position: relative;
	margin-bottom: 12px;
}

.progress {
	width: 0%;
	height: 100%;
	background: var(--tertiary);
	border-radius: 3px;
	transition: width 0.2s ease-in-out;
}

.btnCtn {
	display: flex;
	align-items: center;
	gap: 4px;
}

.controls {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.row {
	display: flex;
	align-items: center;
}

.controlButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
	transition: background 0.3s ease;
}

.controlButton {
	width: 24px;
	height: 24px;
	color: black;
}


.volumeControls {
	display: flex;
	align-items: center;
	gap: 8px;
}

.volumeSlider {
	width: 80px;
	height: 4px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	opacity: 0.8;
	transition: opacity 0.2s;

	&::-webkit-slider-runnable-track {
		background: #00000020;
		border-radius: 2px;
		height: 4px;
	}

	&::-moz-range-track {
		background: #00000020;
		border-radius: 2px;
		height: 4px;
	}

	&:hover {
		opacity: 1;
	}

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 12px;
		height: 12px;
		background: var(--tertiary);
		border-radius: 50%;
		cursor: pointer;
		margin-top: -4px;
	}

	&::-moz-range-thumb {
		width: 12px;
		height: 12px;
		background: var(--tertiary);
		border-radius: 50%;
		cursor: pointer;
	}
}
