.base_section {
	padding: 100px 0;
	.container {
		.title {
			background: var(--text-linear-gradient);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			font-family: Oswald;
			font-size: 48px;
			font-weight: 500;
			line-height: 71px;
			letter-spacing: 0%;
			text-align: left;
			margin: 0 auto;
			width: max-content;
		}
		.content {
			margin-top: 27px;
			margin-bottom: 66px;
		}
	}
}
