.profile_images {
	padding: clamp(20px, 5vw, 34px) 0;

	@media (max-width: 780px) {
		padding-bottom: 0;
	}

	.container {
		padding: 0;
		max-width: clamp(300px, 50vw, 823px);

		@media (max-width: 823px) {
			max-width: 95%;

			img {
				width: 100%;
				height: auto;
			}
		}

		@media (max-width: 780px) {}

		[class*='swiper-button-'] {
			color: white;

			&::after {
				font-size: clamp(14px, 2vw, 18px) !important;
			}
		}
	}
}
