.footer_end {
	border-top: 1px solid var(--accent);
	margin-top: 102px;
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px 0;
		* {
			color: rgb(135, 180, 178);
			font-size: 18px;
			font-weight: 400;
			line-height: 27px;
			letter-spacing: -2%;
		}
		.col {
			display: flex;
			align-items: center;
			gap: 10px;
		}
	}
}
