.category_section {
	--category-section-gap: 26px;
	--content-max-width: 83%;
	--header-font-size: 24px;
	--header-link-font-size: 16px;
	--header-icon-size: 24px;

	.container {
		display: flex;
		flex-direction: column;
		gap: var(--category-section-gap);

		.content {
			max-width: var(--content-max-width);

			@media (max-width: 1350px) {
				max-width: 95%;
			}

			@media (max-width: 1280px) {
				max-width: 100%;
			}
		}

		.header {
			display: flex;
			align-items: center;
			justify-content: space-between;

			h2 {
				font-size: var(--header-font-size);
				font-weight: bold;
				line-height: 2.4;
			}

			a {
				gap: 8px;
				color: #ff6636;
				font-size: var(--header-link-font-size);
				line-height: 2;
				font-weight: 400;
				letter-spacing: -1%;
				border-bottom: 1px solid transparent;
				&:hover {
					border-color: #ff6636;
				}

				svg {
					fill: #ff6636;
					width: var(--header-icon-size);
					height: var(--header-icon-size);
				}
			}
		}
	}
}

@media (max-width: 930px) {
	.category_section {
		--header-font-size: 20px;
		--header-link-font-size: 14px;
		--header-icon-size: 20px;
	}
}

@media (max-width: 768px) {
	.category_section {
		--category-section-gap: 20px;
		--header-font-size: 22px;
		--header-link-font-size: 16px;
		--header-icon-size: 20px;
	}
}

@media (max-width: 408px) {
	.category_section {
		--category-section-gap: 20px;
		--header-font-size: 16px;
		--header-link-font-size: 12px;
		--header-icon-size: 14px;
	}
}
