.latest_lessons {
	margin: 48px 0 78px 0;
	.container {
		.section_title h1 {
			font-size: 32px;
		}
		.lessons {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 18px;
			margin-top: 30.02px;

			.lesson_card {
				padding: 17px;
				width: 100%;
				border: 1px solid rgb(217, 217, 217);
				border-radius: 12px;
				background: var(--white);
				width: 100%;

				box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.15);
				figure {
					position: relative;
					img {
						width: 100%;
					}
					.audio_btn {
						position: absolute;
						background: linear-gradient(180deg, var(--accent-gradient));
						padding: 4px;
						border-radius: 4px;
						bottom: -5%;
						right: 3%;
						fill: white;
					}
				}
				.content {
					padding: 20px 0 10px 12px;
					max-width: 400px;
					p {
						font-size: 24px;
						font-weight: bold;
						line-height: auto;
					}
					hr {
						width: 100%;
						margin: 14px 0;
						height: 1px;
						background-color: var(--h1);
					}
					.row_parent {
						display: flex;
						align-items: center;
						gap: 45px;
						span {
							font-size: 14px;
							font-weight: 500;
							line-height: 32px;
							text-wrap: nowrap;
							color: var(--h1);
						}
						.date {
							line-height: 19px;
						}
					}
				}
			}
		}
	}
}
