.module_l_item {
	background: #FFFFFF;
	border: 1px solid #EAEFF5;
	box-shadow: 0 1px 2px #00000030, 0 1px 2px 1px #00000015;
	border-radius: 12px;

	a {
		color: var(--text);
		width: max-content;
		fill: white;
	}

	.title {
		font-size: 24px;
		font-weight: 500;
		line-height: 22px;
	}

	.desc,
	.time {
		font-size: 18px;
		font-weight: 500;
		line-height: 22px;
	}

	.checked,
	.unchecked {
		width: 24px;
		height: 24px;
		border-radius: 100px;
		display: flex;
		align-items: center;
		justify-content: center;

		&.unchecked {
			border: 1px solid #564FFD;

			svg {
				color: #564FFD;
				width: 12px;
				height: 12px;
				margin-left: 1px;
			}
		}

		&.checked {
			background: #23BD33;

			svg {
				color: white;
				width: 24px;
				height: 24px;
			}
		}
	}

	.row {
		display: flex;
		align-items: center;
		gap: 10px;
		margin-bottom: 11px;
	}

	.top {
		padding: 17px 23px;
	}

	.sub_modules {
		margin-top: 9px;

		.sub_module {
			padding: 13px 50px;
			background: #F8FBFF;
			border-top: 1px solid #EAEFF5;
			display: flex;
			align-items: center;
			justify-content: space-between;
			transition: all 0.25s;

			&:hover {
				background: #e8eef7;
			}

			.checked,
			.unchecked {
				width: 20px;
				height: 20px;

				&.unchecked svg {
					width: 10px;
					height: 10px;
				}
			}

			.row {
				margin: 0;
			}

			.title {
				font-size: 18px;
			}

			.time {
				letter-spacing: -1%;
			}
		}
	}
}


@media (max-width: 1300px) {
	.module_list {
		margin-top: 30px;
		gap: 10px;
	}

	.module_l_item {
		border-radius: 10px;

		.title {
			font-size: 22px;
			line-height: 20px;
		}

		.desc,
		.time {
			font-size: 16px;
			line-height: 20px;
		}

		.checked,
		.unchecked {
			width: 22px;
			height: 22px;
		}

		.row {
			gap: 8px;
		}

		.top {
			padding: 15px 20px;
		}

		.sub_modules {
			.sub_module {
				padding: 12px 40px;

				.checked,
				.unchecked {
					width: 18px;
					height: 18px;
				}

				.title {
					font-size: 16px;
				}
			}
		}
	}
}

@media (max-width: 1024px) {
	.module_l_item {
		.title {
			font-size: 20px;
		}

		.desc,
		.time {
			font-size: 14px;
		}

		.top {
			padding: 12px 18px;
		}

		.sub_modules .sub_module {
			padding: 10px 30px;

			.title {
				font-size: 14px;
			}
		}
	}
}

@media (max-width: 768px) {
	.module_list {
		margin-top: 20px;
	}

	.module_l_item {
		.title {
			font-size: 18px;
		}

		.desc,
		.time {
			font-size: 12px;
		}

		.top {
			padding: 10px 15px;
		}

		.sub_modules .sub_module {
			padding: 8px 20px;

			.title {
				font-size: 12px;
			}
		}
	}
}

@media (max-width: 480px) {
	.module_list {
		margin-top: 15px;
	}

	.module_l_item {
		padding-top: 8px;
		padding-bottom: 8px;

		.title {
			font-size: 16px;
		}

		.desc,
		.time {
			font-size: 10px;
		}

		.top {
			padding: 8px 12px;
		}

		.sub_modules .sub_module {
			padding: 6px 15px;

			.title {
				font-size: 10px;
			}
		}
	}
}
